<button class="btn btn-outline-dark" routerLink="/services/add"><i
    class="fas fa-plus-circle"></i></button><br><br><br>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
class="table table-borderless">

<thead>
    <tr>
        <th>Incidente</th>
        <th>Fallo</th>
        <th>Asignado</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Duracion</th>
        <th>Comentarios</th>
        <th>Opciones</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let service of services">
        <td>{{service.inl_IM}}</td>
        <td>{{service.fallo}}</td>
        <td>{{service.Initials}}</td>
        <td>{{service.start_dates}}</td>
        <td>{{service.end_date}}</td>
        <td>{{service.duracion}}</td>
        <td>{{service.comments}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteService(service.Id_service)"><i class="far fa-trash-alt"></i></button>
            <button [routerLink] = "['/services/edit', service.Id_service]" class="btn btn-success"><i class="fas fa-edit"></i></button>
        </td>
    </tr>
</tbody>

</table>