<div class="col-md-8 mx-auto p-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Registrarse</h3>
            <form class="p-4">
                <div class="form-row">
                    <div class="from-group col-md-6">
                        <label for="user_names">Nombres</label>
                        <input type="text" name="user_names" [(ngModel)]="registerUser.user_names" placeholder="Nombres" class="form-control" autofocus>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="user_surnames">Apellidos</label>
                        <input type="text" name="user_surnames" [(ngModel)]="registerUser.user_surnames" placeholder="Apellidos" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="name_user">Nombre usuario</label>
                        <input type="text" name="name_user" [(ngModel)]="registerUser.name_user" placeholder="Nombre usuario" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Correo electronico</label>
                        <input type="email" name="email" [(ngModel)]="registerUser.email" placeholder="Correo electronico" class="form-control"> 
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password_user" [(ngModel)]="registerUser.password_user" placeholder="Contraseña" class="form-control">
                    </div>
                </div>
                <button type="button" (click)="registerAuth()" class="btn btn-info btn-lg btn-block"><i class="fas fa-sign-in-alt"></i> Registrarse</button>
            </form>
        </div>
    </div>
</div>

